root = true

[*]
charset = utf-8
end_of_line = lf
tab_width = 4
indent_style = tab
insert_final_newline = true

[{*.har,*.json,*.jsonc,*.png.mcmeta,mcmod.info,pack.mcmeta}]
indent_size = 4

[{*.yaml,*.yml}]
indent_size = 4
